<html>
    <body>
		<H1>Tourist suggestion for HK</H1>
		<hr/>
        <form action="/create" method="POST" enctype="multipart/form-data">
            Name: <input name="bookingid"><br>
            Location: <input name="mobile"  /><br>
            Details: <input name="location"  /><br>
            <input type="file" name="filetoupload"><br>
            <input type="submit" value="create">  
        </form>
        <a href="/list">Back to home</a>
    </body>
</html>
